<clr-main-container>
    <clr-header *ngIf="isLoggedIn()" class="header" [clr-nav-level]="2">
        <div class="branding">
            <div class="title">GameSociation</div>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
                    <clr-icon shape="cog"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <div *ngIf="tag$ | async as tag" clrDropdownItem>{{tag}}</div>
                    <a (click)="logout()" clrDropdownItem>Logout</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </clr-header>
    <div class="content-container">
        <clr-vertical-nav *ngIf="isLoggedIn()" [clr-nav-level]="1" [clrVerticalNavCollapsible]="true"
                          [(clrVerticalNavCollapsed)]="verticalNavigationCollapsed">
            <section class="sidenav-content">
                <a clrVerticalNavLink routerLink="/dashboard" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="dashboard" class="is-solid"></clr-icon>
                    Dashboard
                </a>
                <a clrVerticalNavLink routerLink="/associations" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="users" class="is-solid"></clr-icon>
                    Associations
                </a>
                <a clrVerticalNavLink routerLink="/invitations" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="envelope" class="is-solid"></clr-icon>
                    Invitations
                </a>
            </section>
        </clr-vertical-nav>
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</clr-main-container>