<div class="login-wrapper">
    <form class="login" [formGroup]="form" (ngSubmit)="login()">
        <section class="title">
            GameSociation
            <h5>Login</h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">Email</label>
                <input type="email" name="username" clrInput placeholder="Email" formControlName="email" />
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" name="password" clrPassword placeholder="Password" formControlName="password" />
            </clr-password-container>
            <div class="btn-group">
                <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Login</button>
                <button type="button" class="btn btn-danger" routerLink="/account/register"
                    routerLinkActive="active">Register</button>
            </div>
        </div>
    </form>
</div>