<div class="card">
    <div class="card-header">
        Invitations
    </div>
    <div class="card-block">
        <table *ngIf="invitations && invitations.length > 0; else noInvitations" class="table">
            <thead>
            <tr>
                <th>Association</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invitation of invitations" (click)="openAcceptInvitation(invitation)">
                <td>{{invitation.associationName}}</td>
            </tr>
            </tbody>
        </table>
        <ng-template #noInvitations>
            No invitations yet.
        </ng-template>
    </div>
    <div class="card-footer">
        <button class="btn btn-sm btn-link">Manage invitations</button>
    </div>
</div>

<app-association-invitation-modal [opened]="acceptInvitationOpen"
                                  [invitation]="selectedInvitation"
                                  (closed)="closeAcceptInvitation()"
                                  (invitationAccepted)="acceptInvitation($event)"
                                  (invitationRefused)="refuseInvitation($event)">
</app-association-invitation-modal>