<div class="clr-row">
    <app-owned-associations-card class="clr-col-sm-12 clr-col-md-4"
                                 [associations]="ownedAssociations$ | async"
                                 (associationCreated)="createAssociation($event)">
    </app-owned-associations-card>
    <app-joined-associations-card class="clr-col-sm-12 clr-col-md-4"
                                  [associations]="joinedAssociations$ | async">
    </app-joined-associations-card>
    <app-invitations-card class="clr-col-sm-12 clr-col-md-4"
                          [invitations]="invitations$ | async"
                          (invitationAccepted)="acceptInvitation($event)"
                          (invitationRefused)="refuseInvitation($event)">
    </app-invitations-card>
</div>